<div ng-show="login">
    <div ng-show="loginBlock">
        <div class="login-page">
           <div class="container-login">
               <h1>Вхід в особистий кабінет</h1>
            <span>Введіть логін і пароль для входу в ваш кабінет користувача:</span>
            <div class="login-password">
                <input type="text" name="login" id="login" placeholder="Введіть логін">
                <input type="password" name="password" placeholder="Введіть пароль" id="password">
            </div>
            <div class="remind-forget">
                <div class="remind">
                    <input type="checkbox" id="remindMe">
                    <label for="remindMe">Запам'ятай мене</label>
                </div>
                <div class="forget">
                    <a href="#">Забув пароль</a>
                </div>
            </div>
            <div class="enter-register-block clearfix">
                <input type="button" value="ВХІД">
                <a href="#" ng-click="changeToRegister()">Зарегиструватися</a>
            </div>
           </div>
        </div>
    </div>
    <div ng-show="registerBlock">
        <div class="register-page">
            <h1>Регистрація користувача</h1>
            <div class="register-inputs">
                <label for="loginReg">Логін</label>
                <input type="text" name="loginReg" id="loginReg">
                <label for="passwordReg">Пароль</label>
                <input type="password" name="passwordReg" id="passwordReg">
                <label for="emailReg">Ел.пошта</label>
                <input type="text" name="emailReg" id="emailReg">
                <label for="nameReg">Ім'я</label>
                <input type="text" name="nameReg" id="nameReg">
                <label for="surnameReg">Прізвище</label>
                <input type="text" name="surnameReg" id="surnameReg">
                <label for="dateReg">Дата народження</label>
                <input type="text" name="dateReg" id="dateReg">
                <input type="button" value="Зарегиструватися">
            </div>
        </div>
    </div>

</div>